<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Selamat datang di Makan Kuy! Temukan berbagai restoran di Indonesia. Dikurasi oleh Muhammad Yoga Azwar.">
    <meta name="keywords" content="Makan Kuy, restoran, Indonesia, kuliner, Yoga Azwar">
    <meta name="author" content="Muhammad Yoga Azwar">
    <meta name="theme-color" content="#fa4659"/>
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Makan Kuy | Muhammad Yoga Azwar</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke Konten</a>

  <header>
    <div class="wrapper">
    <h1 id="nav-title"><a href="">Makan <span id="tagline">Kuy</span></a></h1>
    <nav>
      <label id="icon">
        <button>☰</button>
      </label>
      <ul id="drawer">
        <li> <a href="#/home">Home</a></li>
        <li><a href="#/favorites">Favorites</a></li>
        <li><a rel="noopener" target="_blank" href="https://github.com/myogaazwar">About</a></li>
      </ul>
      
    </nav>
    
  </div>
  </header>

<!-- Main -->
  <main id="maincontent" tabindex="0">
    <!-- <section class="hero">
      <div class="text-hero">
      <h3>Cari Makanan & Minuman Di Restaurant Kesukaan Kamu Disini</h3>
      <button><a href="#menu-title">Cari Sekarang</a></button>
    </div>
    </section>

    <section class="menu-rs">
      <h2 id="menu-title">Explore Restaurant</h2>

      <div class="card-container">
      </div>

    </section> -->
  </main>
  <!-- //Main -->

  <!-- Footer -->
  <Footer>
    <p>Copyright © 2024 - <a href="#">Makan Kuy by Muhammad Yoga Azwar</a></p>
  </Footer>
  <!-- //Footer -->
  </body>
</html>
